.Button {
    background: #4C5560;
    color: #fff;
    font-family: "Verdana";
    font-size: 18px;
    border: 5px solid #4C5560;
    border-radius: 0;
    padding: 10px;
    outline: 0;
}

.Button:hover {
    border: 5px solid #647e9c;
    color: #fff;
    background: #5e738b;
    border-radius: 0;
    outline: 0;
}

.Button:focus {
    border: 5px solid #73B3C9;
    color: #fff;
    background: #395B83;
    border-radius: 0;
    outline: 0;
}