.OverworldCharacter {
    position: absolute;
    overflow: hidden;
}

.OverworldCharacter > img {
    position: absolute;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}