@font-face {
    font-family: "Verdana";
    font-style: normal;
    font-weight: normal;
    src: url("../fon/verdana/verdana.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-style: normal;
    font-weight: bold;
    src: url("../fon/verdana/verdanab.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-style: italic;
    font-weight: normal;
    src: url("../fon/verdana/verdanai.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-style: italic;
    font-weight: bold;
    src: url("../fon/verdana/verdanaz.ttf") format("truetype");
}

html, body {
    background: #555;
}