@font-face {
    font-family: "Verdana";
    font-style: normal;
    font-weight: normal;
    src: url("../fon/verdana/verdana.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-style: normal;
    font-weight: bold;
    src: url("../fon/verdana/verdanab.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-style: italic;
    font-weight: normal;
    src: url("../fon/verdana/verdanai.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-style: italic;
    font-weight: bold;
    src: url("../fon/verdana/verdanaz.ttf") format("truetype");
}

html, body {
    background: #555;
    color: #fff;
    font-family: "Verdana";
    font-size: 23px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
}

.textarea {
    border: 5px solid #73B3C9;
    background: #255665;
    padding: 15px;
}